<form action="/restaurants/{{restaurant._id}}?_method=PUT" method="POST">
    <div class="container mt-5">
        <div class="col-md-10 col-12 mx-auto">
            <div class="mb-3">
                <label for="name" class="form-label">NAME</label>
                <input type="text" class="form-control" id="name" placeholder="name" name="name"
                    value="{{restaurant.name}}" required />

            </div>
            <div class="mb-3">
                <label for="name_en" class="form-label">ENGLISH NAME</label>
                <input type="text" class="form-control" id="name_en" placeholder="Bravo Beer" name="name_en"
                    value="{{restaurant.name_en}}" required />
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">CATEGORY</label>
                <input type="text" class="form-control" id="category" placeholder="義式餐廳" name="category"
                    value="{{restaurant.category}}" required />
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">IMAGE</label>
                <input type="text" class="form-control" id="image" placeholder="https://.../image/file/5634/08.jpg"
                    name="image" value="{{restaurant.image}}" required />
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">LOCATION</label>
                <input type="text" class="form-control" id="location" placeholder="台北市松山區市民大道四段 185 號" name="location"
                    value="{{restaurant.location}}" required />
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">PHONE</label>
                <input type="tel" pattern="[0-9]{2} [0-9]{4} [0-9]{4}" class="form-control" id="phone"
                    placeholder="02 2570 1255" name="phone" value="{{restaurant.phone}}" required />
            </div>
            <div class="mb-3">
                <label for="google_map" class="form-label">GOOGLE MAP LINK</label>
                <input type="text" class="form-control" id="google_map" placeholder="https://goo.gl/maps/V9mKwVJ4s5v"
                    name="google_map" value="{{restaurant.google_map}}" required />
            </div>
            <div class="mb-3">
                <label for="rating" class="form-label">RATING</label>
                <input type="number" min="0.0" max="5.0" step="0.1" class="form-control" id="rating" placeholder="4.7"
                    name="rating" value="{{restaurant.rating}}" required />
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">DESCRIPTION</label>
                <input type="text" class="form-control" id="description" placeholder="我們希望帶給您的，不只是啤酒，有美食..."
                    name="description" value="{{restaurant.description}}" required />
            </div>
            <div class="d-flex">
                <div class="p-2 w-100">
                    <button type="submit" class="btn btn-outline-success float-right btn-lg">Save</button>
                </div>
                <div class="p-2 flex-shrink-1">
                    <a href="/" class="btn btn-outline-secondary float-right btn-lg">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>